/** base_fest.css
* --- Gosign media. ---
* version 1.0
* (c) Copyright 2008 Gosign media. All Rights Reserved.
* 2008-24-01
*/
body,
div,dl,dt,dd,ul,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,
p,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,var{font-style:normal;font-weight:normal;}
ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

img{display:inline;}

a{outline:none;}
a:link,
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{text-decoration:none;}

.hidden{display:none;}

body {
	background-color:#F8EEDE;
	font-family:Calibri, Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size:100%;
	color:#333333;
}

#outer {
	padding:0px;
	margin:0px;
}

#container {
	margin: 0 auto;
	background:#F8EEDE;
	overflow:hidden;
	width:950px;	
	padding:0px;
	position:relative;
}

#header {
	background:#CC0000;
	width:100%;
	padding:0px;
	margin:0px;
	position:relative;
}

#logo {
	display:block;
	height:155px;
}

.logo {
	display:block;
}

#top_menu {
	position:relative;
	background:#CC0000;
	width:100%;
}

#content {
	width:100%;
	margin:0px;
	padding:0px;
}


#left_column {
	width:180px;
	float:left;
}

#right_column {
	width:180px;
	float:right;

}


#middle_column {
	margin:0pt 180px;
	padding:0pt 8% 3% 8%;
	border-style:none solid none solid;
	border-width:0 1px 0 1px;
	border-color:#FFCC66;
}


#content_column {
	margin:0pt 0pt 0pt 180px;
	padding:0pt 8% 3% 8%;
	border-style:none none none none;
	border-width:0 0 0 1px;
	border-color:#FFCC66;
	min-height: 600px;
}

#two_column_right #content_column {
	margin:0pt 180px 0pt 0pt;

}


#two_column_right #middle_column {
	margin:0pt 180px 0pt 0pt;

}



#middle_column_content,#left_menu,#right_column_content {
	overflow:hidden;
}

#right_column {
	width:180px;
	position:relative;
	float:right;

}


#breadcrumb li {
	float:left;
}


#service_menu li {
	float:left;
}


#footer {
	background:#F8EEDE;
	width:100%;
	position:relative;
	border-style:solid none none;
	border-width:3px 0 0;
	border-color:#660000;
}



.clearall:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearall {display:inline-table;}

/* Hide from IE Mac \*/
.clearall {display:block;}
* html .clearall { background:none; }   /* ... für IE5 + IE6/Win | hasLayout aktivieren */
/* End hide from IE Mac */





















#myTemplate div.left{
	float:left;
	width:360px;
	min-height:400px;
	background:lightblue;
	border:2px solid #FFFFFF;
}

#myTemplate div.right{
	float:left;
	width:360px;
	min-height:400px;
	background:lightgreen;
	border:2px solid #FFFFFF;
}









