Order deny,allow
Deny from all

<FilesMatch "\.(gif|png|jpg|js|css|php|htm|html)$">
	Allow from all
</FilesMatch>

<FilesMatch "\.(gif|png|jpg)$">
	<IfModule mod_expires.c>
		ExpiresActive on
		ExpiresDefault "access plus 7 days"
	</IfModule>
	FileETag MTime Size
</FilesMatch>