<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gosign Website</title>
<link rel="stylesheet" type="text/css" href="css/base_fest.css" media="screen">

<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="css/ie7.css" media="screen"/>
<![endif]-->

<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen"/>
<![endif]-->

</head>
<body id="two_column_right" class="class-two_column_right">

<div id="outer">

	<div id="container">

		<div id="header" class="clearall">
			<div id="logo">
				<a href="home"><img src="fileadmin/templates/images/logo.png"/></a>
			</div>
			<div id="search"></div>
			<div id="top_menu" class="clearall">

			</div>
			<div id="breadcrumb"></div>
		</div>

		<div id="content">

			<a name="top"></a>
			<div class="inner">

				<div id="right_column">
					<div id="right_content"></div>
				</div>

				<div id="content_column" class="clearall">
					<div id="middle_column_content"></div>
				</div>

			</div> <!-- END inner -->

		</div> <!-- END content -->

		<div class="clearall"></div>

		<div id="footer">
			<div id="service_menu"></div>
			<div id="print_menu"></div>
			<div id="footer_content"></div>
		</div>

	</div> <!-- END container -->
</div> <!-- END outer -->

</body>
</html>
